<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
</head>
<body>
<header class="header">
    <h1>Magyarországi Városok</h1>
    <p>Fedezd fel Budapestet és más városokat!</p>
</header>

<div layout:fragment="content" class="container mt-5">
    <div class="intro">
        <p>Üdvözlünk az oldalunkon, ahol bemutatjuk Magyarország legszebb városait.<br>
            Az oldalon Budapest városairól található információkat.
            További információért kérem regisztráljon vagy jelentkezzen be!</p></p>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card city-card">
                <img src="/images/budapest.png" alt="Budapesti Híd">
                <div class="card-body">
                    <h5 class="card-title">Budapest</h5>
                    <p class="card-text">A magyar főváros, tele történelemmel és csodálatos látnivalókkal.</p>
                    <a href="#" class="btn btn-primary">Tudj meg többet</a>
                </div>
            </div>
        </div>

        <!-- Debrecen kártya -->
        <div class="col-md-4 mb-4">
            <div class="card city-card">
                <img src="/images/debrecen.png" alt="Debrecen">
                <div class="card-body">
                    <h5 class="card-title">Debrecen</h5>
                    <p class="card-text">Magyarország második legnagyobb városa, híres a kultúrájáról és a Református Nagytemplomról.</p>
                    <a href="#" class="btn btn-primary">Tudj meg többet</a>
                </div>
            </div>
        </div>

        <!-- Pécs kártya -->
        <div class="col-md-4 mb-4">
            <div class="card city-card">
                <img src="/images/pecs.png" alt="Pécs">
                <div class="card-body">
                    <h5 class="card-title">Pécs</h5>
                    <p class="card-text">Pécs, a mediterrán hangulatú város, gazdag történelemmel és művészeti örökséggel.</p>
                    <a href="#" class="btn btn-primary">Tudj meg többet</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
